*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #333;
    align-items: center;
    padding-left: 20x;
    padding-right: 20x;
}

.cabecalho a{
    color: aliceblue;
    text-decoration: none;

}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
}


.conteudo img {
    height: 400px;
    width:  400px;
}

.rodape {
    text-align: center;
    height: 40px;
    background-color: #333;
    padding-top: 20px;
}

/* responsividade */

@media (max-width:760px){
    .cabecalho{
        flex-direction: column;
        height: 80px;
        padding-top: 5px;
        background-color: wheat;
        padding-bottom: 5px;
    }

    .cabecalho a {
        color: coral;
    }
    h2{
        display: none;
    }
}

@media (max-width:460px){
    .conteudo{
        flex-direction: column;
        text-align: center;
        margin-top: 300px;
        margin-bottom: 300px;
        margin: 200px;
    }
    .conteudo img {
        height: 300px;
        width:  300px;
    }



    .cabecalho{
        background-color: #333;
    }



}
@media (max-width:375px){
    .conteudo{
        flex-direction: column;
        text-align: center;
        margin-top: 300px;
        margin-bottom: 300px;
        margin: 200px;
    }
    .conteudo img {
        height: 200px;
        width:  200px;
    }


    .cabecalho{
        background-color: #333;
    }

    @media (max-width:704px){

    }



}